// app global css
.card-title
  font-size 1.25rem
  font-weight 400
  line-height 1.75rem
  letter-spacing .00937em
  margin-left -24px
  padding 2px 20px 2px 24px
  background #e0e0e0
  color #616161
  position relative
  border-radius 3px 5px 5px 0
.card-title:after
  content ""
  position absolute
  top 100%
  left 0
  width 0
  height 0
  border 0 solid transparent
  border-top-color #bebebe
  border-width 9px 0 0 11px
.margin-top
  margin-top 0.25rem
.margin-bottom
  margin-bottom 0.5rem
.no-margin-bottom
  margin-bottom 0
.padding-top
  padding-top 0.5rem
.padding-bottom
  padding-bottom 0.5rem
.no-padding-top
  padding-top 0
.no-padding-bottom
  padding-bottom 0
.no-padding-left
  padding-left 0 !important
.no-min-height
  min-height 0
